<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Junction- Edit Interest</title>
	<link rel="icon" href="{% static 'images/logo1.png'%}" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{%static 'css/main.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/color.css'%}">
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="{%url 'index' user.username%}" title=""><img src="{%static 'images/logo1.png'%}" style="width: 55px; height: 55px;" alt=""><br>Junction</a>
			</span>
			
		</div>
		
		<nav id="menu" class="res-menu">
			<ul>
				<li><span><a href="{%url 'index' user.username%}" title="">Feeds</a></span>
					
				</li>
				<li><span><a href="{% url 'my_profile' user.username%}" title="" data-toggle="tooltip" data-placement="right">View Profile</a></span>
					
				</li>
				<li><span><a href="{% url 'edit_profile' user.username%}" title="" data-toggle="tooltip" data-placement="right">Edit Profile</a></span>
					
				
				<li><span><a href="{%url 'timelinefriends' user.username%}" title="">friends</a></span>
					
				</li>
				<li><span><a href="/logout" title="">Logout</a></span>
					
				</li>
				
			</ul>	
		</nav>
		</nav>
		
	</div><!-- responsive header -->
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="{%url 'index' user.username%}"><img src="{%static 'images/logo1.png'%}" alt="" style="width: 55px; height: 55px;">Junction</a>
			
		</div>
		
		<div class="top-area">
			
			<ul class="setting-area">
				
				<li><h5 style="font-family: Hobostd; padding: 5px; margin-top: 5px;">{{user.username}}</h5></li>
				</ul>
		
			<div class="user-img">
				<a href="{% url 'my_profile' user.username%}" class="user-img"><img src="{{ user.profile.profile_photo.url }}" style="height: 50px;" alt=""></a>
				
				
			</div>
			<!-- <span class="ti-menu main-menu" data-ripple=""></span> -->
		</div>
	</div><!-- topbar -->
	<div class="fixed-sidebar left">
		<div class="menu-left">
			<ul class="left-menu">
				<li><a href="{%url 'index' user.username%}" title="Feeds" data-toggle="tooltip" data-placement="right"><i class="ti-magnet"></i></a></li>
				<li><a href="{%url 'my_profile' user.username%}" title="View Profile" data-toggle="tooltip" data-placement="right"><i class="ti-user"></i></a></li>
				<li><a href="{%url 'edit_profile' user.username%}" title="Edit Profile" data-toggle="tooltip" data-placement="right"><i class="ti-pencil-alt"></i></a></li>
				<li><a href="{% url 'timelinefriends' user.username%}" title="Friends" data-toggle="tooltip" data-placement="right"><i class="ti-themify-favicon"></i></a></li>
				<li><a href="{% url 'timeline' user.username%}" title="Timeline" data-toggle="tooltip" data-placement="right"><i class="ti-time"></i></a></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				
				
				<li><a href="/logout" title="Log Out" data-toggle="tooltip" data-placement="right"><i  class="ti-power-off"></i></a></li>
				
			</ul>
		</div>
		</div>



	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="widget">
										<h4 class="widget-title">Recent Comments</h4>
										<ul class="activitiez">
											{%for r in recent_comment%}
											{% if r.post.user.id is request.user.id %}
											{% if r.user.id is not request.user.id %}
											<li>
												<div class="activity-meta">
													<i>{{r.created_at}}</i>
													<span><a href="#" title="">{{r.comment_text}}</a></span>
													<span><a href="#" title="">Comment on your post</a></span>
													<h6>by <a href="">{{r.user.profile.first_name}} {{r.user.profile.last_name}} </a></h6>
												</div>
											</li>
											{% endif %}
											{% endif %}
											{%endfor%}
										</ul>
									</div>
									<div class="widget">
										<h4 class="widget-title">Edit info</h4>
										<ul class="naves">
											<li>
												<i class="ti-info-alt"></i>
												<a title="" href="{% url 'edit_profile' user.username%}">Basic info</a>
											</li>
											<li>
												<i class="ti-heart"></i>
												<a title="" href="{% url 'edit_interest' user.username%}">My interests</a>
											</li>
											
											<li>
												<i class="ti-lock"></i>
												<a title="" href="{% url 'edit_password' user.username%}">change password</a>
											</li>
										</ul>
									</div><!-- settings widget -->										
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="editing-interest">
										<h2>
											{% for message in messages %}
								<p id="messages">*{{ message }}</p>
							{% endfor %}</h2>
										<h5 class="f-title"><i class="ti-heart"></i>My interests</h5>
										<form method="post">
											{%csrf_token%}
											<input type="hidden" name="user" value="{{ user.id }}">
											
											<div class="form-group">
												<label>Add interests</label>
												{{form.interest|as_crispy_field}}
												<i class="mtrl-select"></i>
												</div>
											
											
											<div class="submit-btns">
												<input type="reset" class="mtr-btn-signin" value="Cancel"  style="color: white; font-weight: bold; width: 100px;">
												<input class="mtr-btn-signup"  type="submit" value="Update" style="color: white; font-weight: bold; width: 100px;">
											</div>
											<ol class="interest-added">
												{% for i in interest%}
												<li><a href="{%url 'delete_interest' i.id%}?next={{request.path}}" title="">{{i.interest}}
													<span class="remove" title="remove"  data-toggle="tooltip" data-placement="left"><i class="fa fa-close"></i></span></li></a>
												{%endfor%}
											</ol>
											
										</form>
									</div>
								</div>	
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget friend-list stick-widget">
										<h4 class="widget-title">Friends</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="">
											{% for friends in profile.friends.all %}
											<li>
												<figure>
													<img src="{{friends.profile.profile_photo.url}}" alt="">
													
												</figure>
												<div class="friendz-meta">
													<a href="{% url 'friends_profile' friends.profile.user.username%}">{{friends.profile.first_name}} {{friends.profile.last_name}}
														{% if friends.profile.is_verified %}
															<span><i  class="fa fa-check-circle" ></i></span>
															{%endif%}
													</a>
													
											</li>
											{%endfor%}
									
											
										</ul>
										</div><!-- who's following -->
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<footer>
		
	</footer><!-- footer -->
	
</div>
<div class="side-panel">
	<h4 class="panel-title">General Setting</h4>
	
	<form method="post">
		
		<div class="setting-row">
			<span>Notifications</span>
			<input type="checkbox" id="switch22" /> 
			<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Show profile</span>
			<input type="checkbox" id="switch55" /> 
			<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Show me online</span>
			<input type="checkbox" id="switch99" /> 
			<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
		</div>
	</form>
	
</div><!-- side panel -->		
	
<script src="{%static 'js/main.min.js'%}"></script>
<script src="{%static 'js/script.js'%}"></script>
<script src="{%static 'js/map-init.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	

</html>
