<!DOCTYPE html>
{%load static %}
{% load crispy_forms_tags %}
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Junction- Friends</title>
    <link rel="icon" href="{% static 'images/logo1.png'%}" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{%static 'css/main.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/color.css'%}">
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="{%url 'index' user.username%}" title=""><img src="{% static 'images/logo1.png' %}" style="width: 55px; height: 55px;" alt=""><br>Junction</a>
			</span>
			 
		</div>
		
		<nav id="menu" class="res-menu">
			<ul>
				<li><span><a href="{%url 'index' user.username%}" title="">Feeds</a></span>
					
				</li>
				<li><span><a href="{% url 'my_profile' user.username%}" title="" data-toggle="tooltip" data-placement="right">View Profile</a></span>
					
				</li>
				<li><span><a href="{% url 'edit_profile' user.username%}" title="" data-toggle="tooltip" data-placement="right">Edit Profile</a></span>
					
				
				<li><span><a href="/timelinefriends" title="">friends</a></span>
					
				</li>
				<li><span><a href="/logout" title="">Logout</a></span>
					
				</li>
				
			</ul>	
		</nav>
		
	</div><!-- responsive header -->
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="{%url 'index' user.username%}"><img src="{% static 'images/logo1.png' %}" alt="" style="width: 55px; height: 55px;">Junction</a>
			
		</div>
		
		<div class="top-area">
			
			<ul class="setting-area">
				
				<li><h5 style="font-family: Hobostd; padding: 5px; margin-top: 5px;">{{user.username}}</h5></li>
				</ul>
		
			<div class="user-img">
				<a href="{% url 'my_profile' user.username%}" class="user-img"><img src="{{ user.profile.profile_photo.url }}" style="height: 50px;" alt=""></a>

				<span class="status f-online"></span>
			</div>
			<!-- <span class="ti-menu main-menu" data-ripple=""></span> -->
		</div>
	</div><!-- topbar -->	
		
	<section>
		<div class="feature-photo">
			<figure><img src="{{ profile.cover_photo.url}}" style="height:400px" alt=""></figure>
			<div class="add-btn">
				<span>{{profile.get_friends_no}} Friends</span>
				
			</div>
			
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<a class="strip" href="{{ profile.profile_photo.url }}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
									<img src="{{ profile.profile_photo.url }}" style="height:200px;" alt="">
									</a>
								<!---->
							</figure>
						</div>
						</div>
					
				
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{profile.first_name}} {{profile.last_name}}</h5>
								  {% if profile.is_verified %}
									<h5><span><i  class="fa fa-check-circle" ></i></span></h5>
									{%endif%}
								</li>
								<li>
									<a  href="{% url 'timeline' user.username %}" title="" data-ripple="">time line</a>
									<a class="active" href="{% url 'timelinefriends' user.username%}" title="" data-ripple="">Friends</a>
									<a href="{% url 'my_profile' user.username%}" title="" data-ripple="">profile</a>
									<a  class="" href="{% url 'photos' user.username%}" title="" data-ripple="">Photos</a>
									<a  class="" href="{% url 'videos' user.username%}" title="" data-ripple="">Videos</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area --><!-- top area -->

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget stick-widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="{% url 'index' user.username%}" title="">Feeds</a>
											</li>
											<li>
												<i class="ti-user"></i>
												<a href="{% url 'my_profile' user.username%}" title="" data-toggle="tooltip" data-placement="right">View Profile</a>
											</li>
											<li>
												<i class="ti-pencil-alt"></i>
												<a href="{% url 'edit_profile' user.username%}" title="" data-toggle="tooltip" data-placement="right">Edit Profile</a>
											</li>
											<li>
												<i class="ti-user"></i>
												<a href="{% url 'timelinefriends' user.username%}" title="">friends</a>
											</li>
											
											<li>
												<i class="ti-power-off"></i>
												<a href="/logout" title="">Logout</a>
											</li>
										</ul>
									</div><!-- Shortcuts -->
									<!-- profile intro widget -->

								</aside>
							</div><!-- sidebar -->
							
							
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="frnds">
										<ul class="nav nav-tabs">
											 <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">My Friends</a> <span>{{profile.get_friends_no}} </span></li>
											 <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Friend Requests</a><span>{{f_request}}</span></li>
											 <li class="nav-item"><a class="" href="#frends-find" data-toggle="tab">Find Friends</a></li>
										</ul>
										
											
										<!-- Tab panes -->
										<div class="tab-content">
										  <div class="tab-pane active fade show " id="frends" >
											<ul class="nearby-contct">
												<h2>
													{% for message in messages %}
													<p id="messages">*{{ message }}</p>
													{% endfor %}
												</h2>

											{%for friends in profile.friends.all %}
											
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="{%url 'friends_profile' friends.profile.user.username %}" title=""><img src="{{friends.profile.profile_photo.url}}" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="{%url 'friends_profile' friends.profile.user.username %}" title="">{{friends.profile.first_name}} {{friends.profile.last_name}}
															{% if friends.profile.is_verified %}
															<span><i  class="fa fa-check-circle" ></i></span>
															{%endif%}
														</a></h4>
														<span>{{friends.profile.city}}</span>
														
														<a href="{% url 'delete_friend' friends.profile.user.id%}" title="" class="add-butn" data-ripple="">unfriend</a>
													
													</div>
												</div>
											</li>
											
											{%endfor%} 
										</ul>
											<div class="lodmore"><button class="btn-view btn-load-more"></button></div>
										  </div>
										  
										  <div class="tab-pane fade" id="frends-req" >
											<ul class="nearby-contct">
											{%for r in friend_request %}
											{% if r.receiver.id is request.user.id %}
											
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="{%url 'friends_profile' r.sender.username %}" title=""><img src="{{r.sender.profile.profile_photo.url}}" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="{%url 'friends_profile' r.sender.username %}" title="">{{r.sender.profile.first_name}} {{r.sender.profile.last_name}}
															{% if r.sender.profile.is_verified %}
															<span><i  class="fa fa-check-circle" ></i></span>
															{%endif%}
														</a></h4>
														<span>{{r.sender.profile.city}}</span>
														<a href="{% url 'delete_friend_request' r.id %}" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="{% url 'accept_friend_request' r.id %}" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>	
											
											{% endif %}
											{%endfor%}
											</ul>	
											  <button class="btn-view btn-load-more"></button>
										  </div>

										  <div class="tab-pane fade" id="frends-find" >
											  <br>
											<div id="searchDir"></div>
											<ul class="nearby-contct" id="people-list">
											
											{% for i in all_users %}
											{% if i not in user.profile.friends.all %}
											
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="{%url 'friends_profile' i.profile.user.username%}" title="Add Friend"><img src="{{i.profile.profile_photo.url}}" alt=""></a>
													</figure>
													<div class="pepl-info">
														
														<h4><a href="{%url 'friends_profile' i.profile.user.username%}" title="">{{i.profile.first_name}} {{i.profile.last_name}}
															{% if i.profile.is_verified %}
															<span><i  class="fa fa-check-circle" ></i></span>
															{%endif%}
														</a></h4>
														<span>{{i.profile.city}}</span>
														
														<a href="{%url 'send_friend_request' i.id%}?next={{request.path}}" title="" class="add-butn" data-ripple="">add friend</a>
													</div>
												</div>
											</li>
											{%endif%}
											{%endfor%}	
											
											
											</ul>	
											  <button class="btn-view btn-load-more"></button>
										  </div>
										</div>
									</div>
								</div>	
							</div>
							<!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget stick-widget">
										<h4 class="widget-title">Recent Comments</h4>
										<ul class="activitiez">
											{%for r in recent_comment%}
											{% if r.post.user.id is request.user.id %}
											{% if r.user.id is not request.user.id %}
											<li>
												<div class="activity-meta">
													<i>{{r.created_at}}</i>
													<span><a href="#" title="">{{r.comment_text}}</a></span>
													<span><a href="#" title="">Comment on your post</a></span>
													<h6>by <a href="">{{r.user.profile.first_name}} {{r.user.profile.last_name}} </a></h6>
												</div>
											</li>
											{% endif %}
											{% endif %}
											{%endfor%}
										</ul>
									</div>
									<!-- who's following -->
									<!-- friends list sidebar -->
									
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<footer>
		
	</footer><!-- footer -->
	
</div>
	<!-- side panel -->		
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="{%static 'js/main.min.js'%}"></script>
	<script src="{%static 'js/script.js'%}"></script>
	<script src="j{%static 'js/map-init.js'%}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	


</html>